* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #ebfffb;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor {
    max-width: 700px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 508px;
    height: 508px;
    background: #ff5858;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 30px;
    color: aquamarine;
    font-size: 200px;
    transition: .3s ease all;
}

button:hover {
    background: #ff5858;
    box-shadow: 3px 3px 50px rgba(0,0,0.15);
}